.fontH1{
    font-size:35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fontH2{
    font-size:25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fontH3{
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fontPBold{
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.fontPDefault{
    font-size:15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fontMenu{
    font-size:18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shadowDefault{
    box-shadow: 4px 4px 8px #888888;
}

.colorDefaultText{
    color:#1B2559;
}



.scrollBar::-webkit-scrollbar{
    width:10px;
    height:10px;
    background:linear-gradient(#B11FF5, #4B2C98);
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-thumb{
    background-color:black;
    border-radius:10px;
}

.scrollBar::-webkit-scrollbar-thumb:hover{
    background-color:gray;
    border-radius:10px;
}

/*--------------------[Medias Queries para Desktop]--------------------*/

@media screen and (max-width:1200px){
    .fontH1{
        font-size:25px;
    }

  }
  