.containerStatus{
    width:180px;
    height:30px;
    border-radius:100px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right:10px;
}