/*--------------------[CONTAINERS PRINCIPAIS]--------------------*/

.containerMain{
  width:100%;
  height:100%;

  display:flex;
}


.containerApresentation{
  width:60%;
  height:100%;
  background:linear-gradient(#B11FF5,#4B2C98);
  position:relative;
  z-index: 0;
}


.containerLogin{
  width:40%;
  height:100%;
  background-color:#F4F7FE;
  display:flex;
  justify-content: center;
  align-items: center;
}

/*--------------------[ELEMENTOS DO CONTAINER APRESENTATION]--------------------*/
.title{
  color:white;
  margin-top:100px;
  margin-left:100px;
}

.imageApresentation{
  position:absolute;
  right:50px;
  bottom:10px;
  z-index: 9999;
}

/*--------------------[ELEMENTOS DO CONTAINER LOGIN]--------------------*/
